.gradiente{
    background-image:linear-gradient(to right,#fff, #fff);

}
.fundo_sobre{
    background-color:#A851F5 ;
}
.cor_fundo{
    background-color:black;

}
.cornav{
    color:#fff;
}

.hobbies{
    position: relative;
    display: inline-block;
}